@import 'src/common/styles/mixins';
@import 'src/common/styles/variables';

.container {
  @include flex(column, center, _);
  margin: 10px 0;

  .linkBox {
    @include flex(row, space-between, center);
    margin: 10px 0;

    .link {
      text-decoration: none;
      @include text($generalFontFamily, 28px, 22px, 700);
      color: $textColor;
    }

    .active {
      text-decoration: none;
      color: $activeTextColor;
    }
  }
.select {
  height: 25px;
  width: 50px;
  padding-left: 5px;
}
}