@import 'src/common/styles/mixins';
@import 'src/common/styles/variables';

.container {
  @include flex(column, space-between, center);

  .select {
    height: 25px;
    width: 50px;
    padding-left: 5px;
  }

  .box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .link {
      text-decoration: none;
    }
  }
}

